.wrapper h1 {
  color: #9e0059;
  margin-top: 25px;
  font-family: monospace;
}

.submitContainer {
  margin-top: 80px;
  margin-right: 10px;
  /* float: right; */
}
.allChoices {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #9e0059;
  background-color: white;
  border: none;
  border-radius: 85px;
  box-shadow: 0 9px #999;
}
.selectedChoice {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: white;
  background-color: #ee4266;
  border: none;
  border-radius: 85px;
  box-shadow: 0 9px #999;
}
.choicesContainer {
  display: flex;
  text-align: center;
  justify-content: center;
  justify-content: space-around;
  margin-top: 50px;
}
.question {
  margin-top: 50px;
  /* width: 600px; */
}
.submitButton {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #ee4266;
  background-color: white;
  border: 2px solid #ee4266;
  border-radius: 85px;
  font-weight: 400;
}
.submitButton:disabled {
  opacity: 0.3;
  cursor: inherit;
  background-color: #ee4266;
  color: white;
}
.question h2 {
  color: #ee4266;
  font-family: monospace;
  margin: 0 auto;
  border-radius: 10px;
}
.questionContainer {
  width: 80%;
  margin: 0 auto;
}
/* .titleContainer {
  background-color: rgba(255, 255, 255, 0.75);
  width: 400px;
  margin: 0 auto;
  border-radius: 10px;
} */

/* will be background-color #ffffe2; */
