.wrapper {
  text-align: center;
  margin-top: 25px;
}
.title {
  display: inline-block;
  color: #f15a47;
}
.card {
  margin: 50px 20px;
}
/* .row {
  display: flex;
} */
.categoriesContainer {
  display: flex;
}
.card-body h5 b {
  color: #f15a47;
}

/* will be background-color #ffffe2; */
