.wrapper {
  text-align: center;
  margin-top: 50px;
}
.rules {
  display: inline-block;
  margin-top: 55px;
}
.carousel-item img {
  width: 92% !important;
  height: 500px;
  margin-left: 62px;
  margin-top: 85px;
}
.discriptionContainer h2 {
  background-color: rgba(0, 0, 0, 0.4);
}
.getStartedButton {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #ee4266;
  background-color: white;
  border: 2px solid #ee4266;
  border-radius: 85px;
  font-weight: 400;
}
/* will be background-color #ffffe2; */
